n8n-workflow.json
{
  "name": "GitHub Daily Commit Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        },
        "timezone": "America/Bogota"
      },
      "id": "cron-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": null,
      "notes": "Ejecuta diariamente a las 9:00 AM (UTC-5)"
    },
    {
      "parameters": {
        "command": "python3 /scripts/commit_automator.py"
      },
      "id": "execute-script",
      "name": "Execute Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.exitCode}}",
              "operation": "equals",
              "value2": "0"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const exitCode = $input.first().json.exitCode;\nconst stdout = $input.first().json.stdout;\nconst stderr = $input.first().json.stderr;\n\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    status: 'success',\n    timestamp: timestamp,\n    exitCode: exitCode,\n    message: 'Commits realizados exitosamente',\n    output: stdout\n  }\n};"
      },
      "id": "success-handler",
      "name": "Success Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "const exitCode = $input.first().json.exitCode;\nconst stdout = $input.first().json.stdout;\nconst stderr = $input.first().json.stderr;\n\nconst timestamp = new Date().toISOString();\n\nreturn {\n  json: {\n    status: 'error',\n    timestamp: timestamp,\n    exitCode: exitCode,\n    message: 'Error al realizar commits',\n    stdout: stdout,\n    stderr: stderr\n  }\n};"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "path": "/logs/commit_log.json",
        "operation": "append",
        "fileName": "={{$json.timestamp}}_{{$json.status}}.json",
        "fileContent": "={{JSON.stringify($json, null, 2)}}"
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Python Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Script": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Handler": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "1"
}
